

body {
	font-size: 20px;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-position: center center; 
	background-attachment: fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover; background-size: cover;
	height: 100%;
}

header {
	display: inline-block;
}



ul
{
	list-style-type: none;
}

input {
	min-width: 400px;
	max-width: 30%;
	display: inline-block;
}

table{
	margin: auto;
	margin-top: 20%;
}



button {
	display: inline-block;
	float: right;
}

#sentence{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #21BC3E;
	text-shadow: 2px 2px #373837;
	-webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3))); /*voor reflection*/
	margin-left:3%;
	margin-top:3%;

}

